@model IEnumerable<LeaveTypeVM>

@{
    ViewData["Title"] = "Leave types";
}

<h1>Leave Types</h1>
<br/>
<table class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th> <a asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i> Create New</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                <button data-id="@item.Id" class="btn btn-primary allocateBtn" type="button"><i class="fa-regular fa-calendar-check"></i> Allocate Leave for All Employees</button> &nbsp;
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square"></i> Edit</a> &nbsp;
                <a asp-action="Details" class="btn btn-dark" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i> Details</a> &nbsp;
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="leaveTypeId" name="Id" />
</form>

<form id="allocationForm" asp-action="AllocateLeave">
    <input type="hidden" id="leaveTypeAllocationId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function(){
            $('.deleteBtn').click(function(e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: ["Cancel", "Delete"],
                    dangerMode: true
                }).then((confirm) => {
                    if(confirm){
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
            $('.allocateBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to allocate to this leave to all employees?",
                    icon: "info",
                    buttons: ["Cancel", "Yes"]
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeAllocationId').val(id);
                        $('#allocationForm').submit();
                    }
                });
            });
        });
    </script>
}
